# This contact definition inherits a lot of default values from the
# 'generic-contact' template which is defined elsewhere.

define contact {

    contact_name            nagiosadmin             ; Short name of user
    use                     generic-contact         ; Inherit default values from generic-contact template (defined above)
    alias                   Nagios Admin            ; Full name of user
    email                   nagios@localhost ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}

define contact {
    contact_name            sgoud239         
    use                     generic-contact        
    alias                   sgoud239         
    email                   sgoud239@gmail.com
}

define contact {
    contact_name            sreedhargoud.unix
    use                     generic-contact
    alias                   sreedhargoud.unix
    email                   sreedhargoud.unix@gmail.com
}



###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup {

    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin, sgoud239, sreedhargoud.unix
}
